<a href="https://colab.research.google.com/github/bmarlin96/INFO450S/blob/main/INFO450SLesson3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Lists - ordered and mutable collection of items

In [3]:
fruits=["apple","banana","cherry"] #list called fruits
print(fruits)

['apple', 'banana', 'cherry']

In [4]:
fruits[0]

'apple'

In [6]:
fruits[1:3]

['banana', 'cherry']

In [7]:
for fruit in fruits:
  print(fruit)

apple
banana
cherry

## Methods are functions specified for a certian object

In [8]:
#append
fruits.append("grape")

In [9]:
fruits

['apple', 'banana', 'cherry', 'grape']

In [10]:
fruits.remove('banana')

In [17]:
numbers=[1,2,3,5,4]
numbers.sort()
numbers

[1, 2, 3, 4, 5]

In [18]:
sum(numbers)

15

## Using Split with text

In [26]:
sentence=" my favorite food is an apple"
words=sentence.split()
words

['my', 'favorite', 'food', 'is', 'an', 'apple']

In [34]:
words

['my', 'favorite', 'food', 'is', 'an', 'apple']

In [35]:
words[5]="pizza"
words

['my', 'favorite', 'food', 'is', 'an', 'pizza']

In [30]:
csv_line="John, 25, Engineer"
my_list=csv_line.split(",")
my_list[1]

' 25'

In [32]:
my_word="banana"
list(my_word)

['b', 'a', 'n', 'a', 'n', 'a']

## Tuples ordered. immutable, collection () commas

In [33]:
coordinates=(10.0,20.5)
coordinates[0]

10.0

In [36]:
coordinates[0]=12

TypeError: 'tuple' object does not support item assignment

## Dictionaries: collection of key-value pairs

In [43]:
student={"name":"Alice","age":20,"grade":"A"}
student["name"]
student.keys()
student.values()
student.items()

dict_items([('name', 'Alice'), ('age', 20), ('grade', 'A')])

In [45]:
location_data={
    (37.7749,-122.4129):"San Fransisco",
    (40.7,-74.006):"New York"
}

dict_keys([(37.7749, -122.4129), (40.7, -74.006)])

Add to a dictionary (Richmond)

In [46]:
location_data[(37.54,-77.43)]="Richmond"

In [47]:
location_data

{(37.7749, -122.4129): 'San Fransisco',
 (40.7, -74.006): 'New York',
 (37.54, -77.43): 'Richmond'}

## List of Dictionaries and Nested Lists

In [48]:
students=[{'name': 'Alice', 'age': 13, 'grades': [86, 75, 56], 'major': 'mathematics'},
 {'name': 'Bob',
  'age': 22,
  'grades': [78, 23, 90],
  'major': 'Computer Science'},
 {'name': 'sara',
  'age': 22,
  'grades': [78, 23, 90],
  'major': 'Computer Science'},
 {'name': 'Bob',
  'age': 22,
  'grades': [78, 23, 90],
  'major': 'Computer Science'},
 {'name': 'Bobby',
  'age': 22,
  'grades': [78, 23, 90],
  'major': 'Computer Science'}]

In [54]:
students.append({'name':'Ben','age':25})

In [55]:
students

[{'name': 'Alice', 'age': 13, 'grades': [86, 75, 56], 'major': 'mathematics'},
 {'name': 'Bob',
  'age': 22,
  'grades': [78, 23, 90],
  'major': 'Computer Science'},
 {'name': 'sara',
  'age': 22,
  'grades': [78, 23, 90],
  'major': 'Computer Science'},
 {'name': 'Bob',
  'age': 22,
  'grades': [78, 23, 90],
  'major': 'Computer Science'},
 {'name': 'Bobby',
  'age': 22,
  'grades': [78, 23, 90],
  'major': 'Computer Science'},
 {'name': 'Ben', 'age': 25}]

In [53]:
students[1]['grades']

[78, 23, 90]

Analysis on Lists

In [57]:
data=[10,30,40,20,5]

In [62]:
print("Minimum:",min(data))
print("Maximum:",max(data))
print("Mean:",sum(data)/len(data))

Minimum: 5
Maximum: 40
Mean: 21.0

Analysis on dictionaries

In [65]:
data_dict={
    "Homer":85,
    "Marge":78,
    "Bart":92,
    "Lisa":88,
    "Maggie":95
}
print(data_dict)

{'Homer': 85, 'Marge': 78, 'Bart': 92, 'Lisa': 88, 'Maggie': 95}

In [67]:
values=list(data_dict.values())
values
print("Minimum:",min(values))
print("Maximum:",max(values))
print("Mean:",sum(values)/len(values))

Minimum: 78
Maximum: 95
Mean: 87.6

In [68]:
data_dict["Bart"]

92

In [69]:
data_dict["Mo"]=100

## API CALLS

In [80]:
import requests
url="https://catfact.ninja/fact"
response=requests.get(url)
data=response.json()
data['fact']

"The cat's front paw has 5 toes, but the back paws have 4. Some cats are born with as many as 7 front toes and extra back toes (polydactl)."

In [81]:
import requests
url="https://archive-api.open-meteo.com/v1/archive"
#response=requests.get(url)
params={
    "latitude":40.7128,
    "longitude":-74.006,
    "start_date":"2023-12-20",
    "end_date":"2023-12-26",
    "daily":"temperature_2m_max",
    "timezone":"auto"
}
response=requests.get("https://archive-api.open-meteo.com/v1/archive",params=params)
data=response.json()
data

{'latitude': 40.738136,
 'longitude': -74.04254,
 'generationtime_ms': 0.06771087646484375,
 'utc_offset_seconds': -14400,
 'timezone': 'America/New_York',
 'timezone_abbreviation': 'GMT-4',
 'elevation': 32.0,
 'daily_units': {'time': 'iso8601', 'temperature_2m_max': '°C'},
 'daily': {'time': ['2023-12-20',
   '2023-12-21',
   '2023-12-22',
   '2023-12-23',
   '2023-12-24',
   '2023-12-25',
   '2023-12-26'],
  'temperature_2m_max': [7.5, 4.3, 2.6, 5.9, 8.6, 11.5, 7.6]}}

In [86]:
temperatures=data["daily"]['temperature_2m_max']
print("The Min of the Max Temp is", min(temperatures))
print("The Average Max Temp for this week was",sum(temperatures)/len(temperatures))

The Min of the Max Temp is 2.6
The Average Max Temp for this week was 6.857142857142857