## I wrote this in markdown
This is the first day of INFO 450.
# It is fun!!!
$$ \frac{d}{dx}x^2=2x$$
ü§ìüêßüêßüêßüêßüêßüêß

In [3]:
print("Hello World")

Hello World

***Variables*** are the basic concept in code. It is just a container  for ONE piece of Data.

In [10]:
age=50
student_age=18 #snake case
studentAge=23 #camel case

About Variables
* Start with lower case letter
* can only contain letters, numbers or _
* be descriptive
* case and spelling matter

In [13]:
student_age=21
student_Age=21

Types of Variables
* int (Whole Number) 28 bytes
* float (decimals) 28 bytes
* string (str) characters - letters and words
* boolean (bool) True False

In [22]:
name="Alice"
is_student=True

In [23]:
type(name)
type(age)
type(is_student)

bool

In [25]:
print(name, age, is_student)

Alice 50 True

Input Statements

In [27]:
new_name=input("enter your name")
new_age=input("enter your age")

enter your nameBen
enter your age50

**Printing** and concatenating

In [28]:
print(new_name, "is", new_age, "years old")

Ben is 50 years old

f print uses brackets

In [29]:
print(f"my name is {new_name} and I am {new_age} years old")

my name is Ben and I am 50 years old

Basic Operators

In [30]:
x=10
y=3

In [38]:
x+y
x/y
x**y # raise to a power
x%y #mod - provides the remainder - is a number odd or even
y%2

1

In [39]:
print(f"x is {x} and y is {y} so x mod y is {x%y}")

x is 10 and y is 3 so x mod y is 1

In [40]:
z=x**y

In [41]:
z

1000